[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
groq = "*"
langchain = "*"
langchain-community = "*"
langchain-huggingface = "*"
faiss-cpu = "*"
sentence-transformers = ">=2.6.0"
transformers = "==4.41.0"
python-dotenv = "*"
tqdm = "*"
pypdf2 = "*"
pydub = "*"
speechrecognition = "*"
gtts = "*"
elevenlabs = "*"
pillow = "*"
requests = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
